{% extends 'base.html' %} {% block content %}
<div class="container w-75 text-center" style="background-color: #013110">
  <div class="row">
    <div class="col-12 col-md-8" style="color: #73f59b">
      <h1>Portfolio Assets</h1>
      <form action="/portfolios/{{ portfolio.id }}/edit" method="post">
        <table id="port-table">
          <th>
            <tr>
              <td colspan="2">
                <b>Net Worth: {{ "$%.2f"|format(portfolio.net_worth) }}</b>
              </td>
              <td colspan="2">
                <b id="cash">Cash: {{ "$%.2f"|format(portfolio.cash) }}</b>
                <input
                  type="hidden"
                  id="dollars"
                  name="cash"
                  value="{{ portfolio.cash }}"
                />
              </td>
            </tr>
            <tr>
              <td><b>Symbol</b></td>
              <td><b>Amount</b></td>
              <td><b>Price</b></td>
              <td><b>Total</b></td>
            </tr>
          </th>
          <tbody>
            {% for stock in portfolio.stocks %}
            <tr>
              <td>{{ stock.symbol }}</td>
              <td>
                <input
                  type="number"
                  class="quantity"
                  id="{{ stock.symbol }}"
                  name="{{ stock.symbol }}"
                  value="{{ stock.quantity }}"
                  style="width: 50px"
                  min="0"
                />
              </td>
              <td>
                {{ "$%.2f"|format(stock.price) }}
                <input
                  type="hidden"
                  id="{{ stock.symbol }}-price"
                  name="{{ stock.symbol }}-price"
                  value="{{ stock.price }}"
                />
              </td>
              <td id="{{ stock.symbol }}-total">
                {{ "$%.2f"|format(stock.quantity * stock.price) }}
              </td>
              <input
                type="hidden"
                class="total"
                id="{{ stock.symbol }}-hiddenTotal"
                value="{{ stock.quantity * stock.price }}"
              />
            </tr>
            {% endfor %}
            <tr>
              <td colspan="2">
                <button
                  type="submit"
                  class="btn btn-primary"
                  style="width: 150px"
                  data-toggle="tooltip"
                  title="Save Portfolio"
                >
                  <i
                    class="fa-solid fa-money-bill-trend-up"
                    style="font-size: 2.5rem; color: #73f59b"
                  ></i>
                </button>
              </td>
              <td colspan="2">
                <a
                  href="/portfolios/{{ portfolio.id }}/delete"
                  class="btn btn-danger"
                  style="width: 150px"
                  data-toggle="tooltip"
                  title="Delete Portfolio"
                >
                  <i
                    class="fa-solid fa-money-bill-trend-up"
                    style="font-size: 2.5rem; color: #73f59b"
                  ></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <br>
      <p>(To remove a stock, reduce its quantity to zero before updating portfolio.)</p>
    </div>
    <div class="col-12 col-md-4" style="color: #73f59b">
      <h2>Add Stocks</h2>
      <p>Look up stocks using their symbol and add them to your portfolio.</p>
      <form
        action="/portfolios/get-stock"
        name="stock-search"
        method="post"
        id="get-stock"
      >
        <input type="text" name="stock-search" />
        <input type="hidden" name="portfolio-id" value="{{ portfolio.id }}" />
        <button
          type="submit"
          class="btn btn-primary"
          data-toggle="tooltip"
          title="Search"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <table id="updated-stocks">
        <th>
          <tr>
            <td colspan="2">
              <h3>Stocks</h3>
            </td>
          </tr>
          <tr>
            <td>Symbol</td>
            <td>Price</td>
          </tr>
        </th>
        <tbody>
          {% for stock in stocks %}
          <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.price }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
