{% extends 'base.html' %} {% block content %}

<table id="portfolio">
  <th>
    <tr>
      <td id="portfolio-name" colspan="4" style="text-align: center">
        <h2>{{ portfolio.name }}</h2>
      </td>
    </tr>
    <tr>
      <td colspan>created by</td>
      <td colspan><b>{{ portfolio.users.username }}</b></td>
      <td>Start Date:</td>
      <td><b>{{ portfolio.friendly_date() }}</b></td>
    </tr>
    <tr>
      <td>Cash:</td>
      <td><b>{{ "$%.2f"|format(portfolio.cash) }}</b></td>
      <td>Net Worth:</td>
      <td><b>{{ "$%.2f"|format(portfolio.net_worth) }}</b></td>
    </tr>
    <tr></tr>
    <tr>
      <td><b>Symbol</b></td>
      <td><b>Amount</b></td>
      <td><b>Price</b></td>
      <td><b>Total</b></td>
    </tr>
  </th>
  <tbody>
    {% for stock in portfolio.stocks %}
    <tr>
      <td>{{ stock.symbol }}</td>
      <td>{{ stock.quantity }}</td>
      <td>{{ "$%.2f"|format(stock.price) }}</td>
      <td>{{ "$%.2f"|format(stock.quantity * stock.price) }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td>
            <a href="/user/{{ portfolio.users.id }}" class="btn btn-primary" data-toggle="tooltip" title="View Profile"
            ><i
              class="fa-solid fa-id-card"
              style="font-size: 2.5rem; color: #73f59b"
            ></i
          ></a>    
        </td>
    </tr>
  </tbody>
</table>

{% endblock %}
