.text {
    color: #73F59B;
}

#search-button {
    display: inline-block;
}

.card-image {
    width: 280px;
    height: 280px;
}

.date {
    color:darkgrey;
}

#port-table > tbody > tr > td {
    min-width: 100px;
    max-width: 100px;
}