.text {
    color: #73F59B;
}

#search-button {
    display: inline-block;
}

.card-image {
    width: 280px;
    height: 280px;
}

.date {
    color:darkgrey;
}

form  {
    display: table;
}
form > p {
    display: table-row;
    margin:auto;
}
form > label { 
    display: table-cell;
    color:black;
    
}
form > input { 
    display: table-cell;
}