{% extends 'base.html' %} {% block content %}

<div class="bg-light p-5 m-auto rounded" style="width: 500px;">
  <h1 class="display-4 text-center">About Investor</h1>
  <hr class="my-4" />
  <p class="text-center">
    This is a competitive investment website aimed at honing in and proving
    stock market investing skills. This site is great for beginners who wish to
    practice investing without risking any real money and professionals who are
    looking to improve their resume. It can also be a fun tool for hobbyists.
  </p>
  <p class="text-center">
    After creating an account, the next step is to create a stock portfolio. For
    each portfolio, users are given $10,000 to buy stocks. Each portfolio must
    have a minimum of 5 different stocks. Once a portfolio is created, users can
    continue to buy and sell stocks from the portfolio. The portfolios with the
    best profit margin are listed on the leaderboard.
  </p>
</div>
{% endblock %}
