{% extends 'base.html' %} {% block content %}
<h2 style="color: #73f59b">Edit {{ user.username }}'s Profile</h2>
<form method="POST" id="edit-form">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
  'hidden' and field.name != 'password' %}
  <p>
    {% if field.name == 'bio' %} {{ field.label(style="color:#73F59B;") }} {{ field(rows='4',cols='30')
    }} {% else %} {{ field.label(style="color:#73F59B;") }} {{ field( size=30) }} {% endif %} {% for
    error in field.errors %}

    <em class="error">{{ error }}</em>

    {% endfor %}
  </p>
  {% endfor %}

  <p class="text">To confirm changes, enter your password:</p>
  {% if form.password.errors %} {% for error in form.password.errors %}
  <span class="text-danger"> {{ error }} </span>
  {% endfor %} {% endif %}
  <p>{{ form.password.label(style="color:#73F59B;") }} {{ form.password(size=50) }}</p>

  <button class="btn btn-primary btn-lg btn-block">
    <i class="fa-solid fa-user-pen" style="font-size: 2em; color: white"></i>
  </button>
</form>
{% endblock %}
