{% extends 'base.html' %} {% block content %}
<div class="container w-75 text-center" style="background-color: white">
  <div class="row align-items-center">
    <div class="col-12 col-md-6">
      <h2>{{ user.username }}'s Information</h2>
      <a class="nav-link active" aria-current="page" href="/user/edit/{{ user.id }}">
        <i class="fa-solid fa-user-pen" style="font-size: 2.5em"></i>
      </a>
      <img src="{{ user.image_url }}" class="img-fluid" alt="..." />
      <p>{{ user.bio }}</p>
    </div>
    <div class="col-12 col-md-6">
      <h3>Add Portfolio</h3>
      <form
        action="/user/create-portfolio"
        name="create-portfolio"
        method="post"
        id="create-portfolio"
      >
        <input type="text" name="portfolio-name"/>
        <button type="submit" class="btn btn-primary">
          <i class="fa-regular fa-folder-plus"></i>
        </button>
      </form>
      <h2>Portfolios</h2>
      <ul>
      {% for portfolio in portfolios %}
        <li>{{ portfolio.name }} 
          <a class="nav-link active" aria-current="page" href="/portfolios/{{ portfolio.id }}">
          <i class="fa-solid fa-money-bill-trend-up" style="font-size: 2.5rem; color: #73f59b">
          </i>
        </a><p class="date">{{ portfolio.created_at }}</p></li>
      {% endfor %}
      </ul>
      
    </div>
  </div>
</div>
{% endblock %}
