{% extends 'base.html' %} {% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <table>
      <th>
        <tr>
          <td colspan="2">
            <h2 style="color: #73f59b">Join Investor today</h2>
          </td>
        </tr>
      </th>
      <tbody>
        <form method="POST" id="signup-form">
          {{ form.hidden_tag() }} {% for field in form if
          field.widget.input_type != 'hidden' %}
          <tr>
            <td>{{ field.label(style="color:#73F59B;") }}</td>
            <td>{{ field }}</td>

            {% for error in field.errors %}
            <td>
              <em class="error">{{ error }}</em>
            </td>
            {% endfor %} {% endfor %}
          </tr>
          <tr>
            <td>
              <button class="btn btn-primary btn-lg btn-block" data-toggle="tooltip" title="Submit">
                <i
                  class="fa-solid fa-user-plus"
                  style="font-size: 2em; color: white"
                ></i>
              </button>
            </td>
          </tr>
        </form>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
